#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  flex: 1;
  justify-content: center;
}

h1 {
  display: flex;
  font-style: italic;
  font-weight: 600;
  max-width: 1200px;
  width: 100%;
}

.form {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
}

.form div {
  width: 100%;
  display: flex;
  align-items: center;
}

input,
textarea {
  background-color: #EEEEEE;
  color: #848484;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

input {
  flex: 2;
}

textarea {
  resize: none;
  width: 100%;
  margin: 10px 0 0 0;
}

.priority,
.state,
.category {
  flex: 1;
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border: none;
  background: #00916F;
  color: white;
  border-radius: 12px;
  padding: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: .2s;
}

select:open::picker(select) {
  opacity: 1;
  transform: translateY(0);
}